<?xml version='1.0' encoding='utf-8'?>
<robot name="HU_L04_01">
  <mujoco>
    <compiler meshdir="../meshes/HU_L04_01"/>
  </mujoco>

  <!-- base -->
  <link name="base_link">
    <inertial>
      <origin xyz="0.0036933 0.00027286 0.05504719" rpy="0.0 0.0 0.0"/>
      <mass value="6.44924514"/>
      <inertia ixx="0.04095352" ixy="1.495e-05" ixz="-0.00040094" iyy="0.01340395" iyz="-2.5e-07" izz="0.04083703"/>
    </inertial>
    <visual>
      <origin xyz="-0.00056266 0.00451 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/base_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.00056266 0.00451 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/base_link.STL"/>
      </geometry>
    </collision>
  </link>

  <!-- base imu -->
  <link name="base_imu">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-06" ixy="0.0" ixz="0.0" iyy="1e-06" iyz="0.0" izz="1e-06"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>
  <joint name="base_imu_joint" type="fixed">
    <origin xyz="-8.466e-05 -4.6e-05 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="base_link"/>
    <child link="base_imu"/>
  </joint>

  <!-- left leg -->
  <link name="left_hip_pitch_link">
    <inertial>
      <origin xyz="0.00245202 0.003863235 -0.083076805" rpy="0.0 0.0 0.0"/>
      <mass value="2.563772465"/>
      <inertia ixx="0.00695592" ixy="1.6695000000000002e-05" ixz="0.000118235" iyy="0.006111025" iyz="-0.0008046049999999999" izz="0.00334657"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/left_hip_pitch_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/left_hip_pitch_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_hip_pitch_joint" type="revolute">
    <origin xyz="0.0 0.10843 0.028124" rpy="0.0 0.0 0.0"/>
    <parent link="base_link"/>
    <child link="left_hip_pitch_link"/>
    <axis xyz="-0.0 0.8660265528314682 -0.49999800978688286"/>
    <limit lower="-3.0543" upper="1.5708" effort="200.0" velocity="18.3"/>
  </joint>
  <link name="left_hip_roll_link">
    <inertial>
      <origin xyz="0.002998195 -0.0029406249999999997 -0.042980075" rpy="0.0 0.0 0.0"/>
      <mass value="0.96446718"/>
      <inertia ixx="0.00215128" ixy="-1.8404999999999997e-05" ixz="-0.00014623499999999998" iyy="0.0025807599999999997" iyz="-3.01e-06" izz="0.0024414099999999998"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/left_hip_roll_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/left_hip_roll_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_hip_roll_joint" type="revolute">
    <origin xyz="0.0 -0.000928882791991492 -0.0998113463614758" rpy="0.0 0.0 0.0"/>
    <parent link="left_hip_pitch_link"/>
    <child link="left_hip_roll_link"/>
    <axis xyz="1.0 0.0 0.0"/>
    <limit lower="-1.0472" upper="1.5708" effort="200.0" velocity="18.3"/>
  </joint>
  <link name="left_hip_yaw_link">
    <inertial>
      <origin xyz="-0.000337765 -0.00063904 -0.06737818500000001" rpy="0.0 0.0 0.0"/>
      <mass value="2.8471496800000002"/>
      <inertia ixx="0.014760785" ixy="-1.263e-05" ixz="-0.000411" iyy="0.014635229999999999" iyz="-0.00027203" izz="0.00562815"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/left_hip_yaw_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/left_hip_yaw_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_hip_yaw_joint" type="revolute">
    <origin xyz="-0.000456858436752703 0.0 -0.0764999999999998" rpy="0.0 0.0 0.0"/>
    <parent link="left_hip_roll_link"/>
    <child link="left_hip_yaw_link"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-1.5708" upper="1.5708" effort="200.0" velocity="18.3"/>
  </joint>
  <link name="left_knee_link">
    <inertial>
      <origin xyz="0.01587861 -0.000749395 -0.109227005" rpy="0.0 0.0 0.0"/>
      <mass value="5.062820609999999"/>
      <inertia ixx="0.06210234" ixy="-1.732e-05" ixz="0.003455995" iyy="0.064925465" iyz="0.00029199499999999997" izz="0.00639306"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/left_knee_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/left_knee_link_collision.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_knee_joint" type="revolute">
    <origin xyz="-0.0200001840152544 0.0 -0.184500355579722" rpy="0.0 0.0 0.0"/>
    <parent link="left_hip_yaw_link"/>
    <child link="left_knee_link"/>
    <axis xyz="-0.0 1.0 -0.0"/>
    <limit lower="-0.087266" upper="2.4435" effort="200.0" velocity="18.3"/>
  </joint>
  <link name="left_ankle_pitch_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.03944929"/>
      <inertia ixx="3.46e-06" ixy="0.0" ixz="0.0" iyy="2.16e-06" iyz="0.0" izz="3.69e-06"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/left_ankle_pitch_link.STL"/>
      </geometry>
    </visual>
  </link>
  <joint name="left_ankle_pitch_joint" type="revolute">
    <origin xyz="-7.40514069974343e-05 0.0 -0.417063028945095" rpy="0.0 0.0 0.0"/>
    <parent link="left_knee_link"/>
    <child link="left_ankle_pitch_link"/>
    <axis xyz="-0.0 1.0 -0.0"/>
    <limit lower="-1.0123" upper="0.61086" effort="70.0" velocity="24.48"/>
  </joint>
  <link name="left_ankle_roll_link">
    <inertial>
      <origin xyz="0.00952498 0.002470515 -0.037849975" rpy="0.0 0.0 0.0"/>
      <mass value="1.205462175"/>
      <inertia ixx="0.001307735" ixy="-9.4965e-05" ixz="0.000553425" iyy="0.005067835" iyz="2.8760000000000002e-05" izz="0.005251935"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/left_ankle_roll_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.018 0.0 -0.056" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.18 0.065 0.022"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.11773 -0.0355 -0.068" rpy="0.0 0.0 0.0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.11773 0.04208 -0.068" rpy="0.0 0.0 0.0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.07665 0.034 -0.068" rpy="0.0 0.0 0.0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.07665 -0.034 -0.068" rpy="0.0 0.0 0.0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.145 0.0 -0.05977" rpy="0.0 0.0 0.0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_ankle_roll_joint" type="revolute">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="left_ankle_pitch_link"/>
    <child link="left_ankle_roll_link"/>
    <axis xyz="1.0 -0.0 -0.0"/>
    <limit lower="-0.43633" upper="0.43633" effort="70.0" velocity="24.48"/>
  </joint>

  <!-- Left foot contact -->
  <link name="contact_foot_center_L">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-07" ixy="0.0" ixz="0.0" iyy="1e-07" iyz="0.0" izz="1e-07"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>
  <joint name="contact_foot_center_joint_L" type="fixed">
    <origin xyz="0.0 0.0 -0.07327" rpy="0.0 0.0 0.0"/>
    <parent link="left_ankle_roll_link"/>
    <child link="contact_foot_center_L"/>
  </joint>
  <link name="contact_foot_heel_L">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-07" ixy="0.0" ixz="0.0" iyy="1e-07" iyz="0.0" izz="1e-07"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>
  <joint name="contact_foot_heel_joint_L" type="fixed">
    <origin xyz="-0.09669 0.0 -0.07327" rpy="0.0 0.0 0.0"/>
    <parent link="left_ankle_roll_link"/>
    <child link="contact_foot_heel_L"/>
  </joint>
  <link name="contact_foot_tip_L">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-07" ixy="0.0" ixz="0.0" iyy="1e-07" iyz="0.0" izz="1e-07"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>
  <joint name="contact_foot_tip_joint_L" type="fixed">
    <origin xyz="0.11773 0.0 -0.07327" rpy="0.0 0.0 0.0"/>
    <parent link="left_ankle_roll_link"/>
    <child link="contact_foot_tip_L"/>
  </joint>

  <!-- right leg -->
  <link name="right_hip_pitch_link">
    <inertial>
      <origin xyz="0.00245202 -0.003863235 -0.083076805" rpy="0.0 0.0 0.0"/>
      <mass value="2.563772465"/>
      <inertia ixx="0.00695592" ixy="-1.6695000000000002e-05" ixz="0.000118235" iyy="0.006111025" iyz="0.0008046049999999999" izz="0.00334657"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/right_hip_pitch_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/right_hip_pitch_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_pitch_joint" type="revolute">
    <origin xyz="0.0 -0.10843 0.028124" rpy="0.0 0.0 0.0"/>
    <parent link="base_link"/>
    <child link="right_hip_pitch_link"/>
    <axis xyz="-0.0 0.8660265528314682 0.49999800978688286"/>
    <limit lower="-3.0543" upper="1.5708" effort="200.0" velocity="18.3"/>
  </joint>
  <link name="right_hip_roll_link">
    <inertial>
      <origin xyz="0.002998195 0.0029406249999999997 -0.042980075" rpy="0.0 0.0 0.0"/>
      <mass value="0.96446718"/>
      <inertia ixx="0.00215128" ixy="1.8404999999999997e-05" ixz="-0.00014623499999999998" iyy="0.0025807599999999997" iyz="3.01e-06" izz="0.0024414099999999998"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/right_hip_roll_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/right_hip_roll_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_roll_joint" type="revolute">
    <origin xyz="0.0 0.000928882791991492 -0.0998113463614758" rpy="0.0 0.0 0.0"/>
    <parent link="right_hip_pitch_link"/>
    <child link="right_hip_roll_link"/>
    <axis xyz="1.0 0.0 0.0"/>
    <limit lower="-1.5708" upper="1.0472" effort="200.0" velocity="18.3"/>
  </joint>
  <link name="right_hip_yaw_link">
    <inertial>
      <origin xyz="-0.000337765 0.00063904 -0.06737818500000001" rpy="0.0 0.0 0.0"/>
      <mass value="2.8471496800000002"/>
      <inertia ixx="0.014760785" ixy="1.263e-05" ixz="-0.000411" iyy="0.014635229999999999" iyz="0.00027203" izz="0.00562815"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/right_hip_yaw_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/right_hip_yaw_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_yaw_joint" type="revolute">
    <origin xyz="-0.000456858436752703 0.0 -0.0764999999999998" rpy="0.0 0.0 0.0"/>
    <parent link="right_hip_roll_link"/>
    <child link="right_hip_yaw_link"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-1.5708" upper="1.5708" effort="200.0" velocity="18.3"/>
  </joint>
  <link name="right_knee_link">
    <inertial>
      <origin xyz="0.01587861 0.000749395 -0.109227005" rpy="0.0 0.0 0.0"/>
      <mass value="5.062820609999999"/>
      <inertia ixx="0.06210234" ixy="1.732e-05" ixz="0.003455995" iyy="0.064925465" iyz="-0.00029199499999999997" izz="0.00639306"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/right_knee_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/right_knee_link_collision.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_knee_joint" type="revolute">
    <origin xyz="-0.0200001840152544 0.0 -0.184500355579722" rpy="0.0 0.0 0.0"/>
    <parent link="right_hip_yaw_link"/>
    <child link="right_knee_link"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit lower="-0.087266" upper="2.4435" effort="200.0" velocity="18.3"/>
  </joint>
  <link name="right_ankle_pitch_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.03944929"/>
      <inertia ixx="3.46e-06" ixy="0.0" ixz="0.0" iyy="2.16e-06" iyz="0.0" izz="3.69e-06"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/right_ankle_pitch_link.STL"/>
      </geometry>
    </visual>
  </link>
  <joint name="right_ankle_pitch_joint" type="revolute">
    <origin xyz="-7.40514069974343e-05 0.0 -0.417063028945095" rpy="0.0 0.0 0.0"/>
    <parent link="right_knee_link"/>
    <child link="right_ankle_pitch_link"/>
    <axis xyz="-0.0 1.0 -0.0"/>
    <limit lower="-1.0123" upper="0.61086" effort="70.0" velocity="24.48"/>
  </joint>
  <link name="right_ankle_roll_link">
    <inertial>
      <origin xyz="0.00952498 -0.002470515 -0.037849975" rpy="0.0 0.0 0.0"/>
      <mass value="1.205462175"/>
      <inertia ixx="0.001307735" ixy="9.4965e-05" ixz="0.000553425" iyy="0.005067835" iyz="-2.8760000000000002e-05" izz="0.005251935"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/right_ankle_roll_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.018 0.0 -0.056" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.18 0.065 0.022"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.11773 0.0355 -0.068" rpy="0.0 0.0 0.0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.11773 -0.04208 -0.068" rpy="0.0 0.0 0.0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.07665 -0.034 -0.068" rpy="0.0 0.0 0.0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.07665 0.034 -0.068" rpy="0.0 0.0 0.0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.145 0.0 -0.05977" rpy="0.0 0.0 0.0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_ankle_roll_joint" type="revolute">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="right_ankle_pitch_link"/>
    <child link="right_ankle_roll_link"/>
    <axis xyz="1.0 -0.0 -0.0"/>
    <limit lower="-0.43633" upper="0.43633" effort="70.0" velocity="24.48"/>
  </joint>

  <!-- Right foot contact -->
  <link name="contact_foot_center_R">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-07" ixy="0.0" ixz="0.0" iyy="1e-07" iyz="0.0" izz="1e-07"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>
  <joint name="contact_foot_center_joint_R" type="fixed">
    <origin xyz="0.0 0.0 -0.07327" rpy="0.0 0.0 0.0"/>
    <parent link="right_ankle_roll_link"/>
    <child link="contact_foot_center_R"/>
  </joint>
  <link name="contact_foot_heel_R">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-07" ixy="0.0" ixz="0.0" iyy="1e-07" iyz="0.0" izz="1e-07"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>
  <joint name="contact_foot_heel_joint_R" type="fixed">
    <origin xyz="-0.09669 0.0 -0.07327" rpy="0.0 0.0 0.0"/>
    <parent link="right_ankle_roll_link"/>
    <child link="contact_foot_heel_R"/>
  </joint>
  <link name="contact_foot_tip_R">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-07" ixy="0.0" ixz="0.0" iyy="1e-07" iyz="0.0" izz="1e-07"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>
  <joint name="contact_foot_tip_joint_R" type="fixed">
    <origin xyz="0.11773 0.0 -0.07327" rpy="0.0 0.0 0.0"/>
    <parent link="right_ankle_roll_link"/>
    <child link="contact_foot_tip_R"/>
  </joint>

  <!-- waist -->
  <link name="waist_yaw_link">
    <inertial>
      <origin xyz="0.019515 -0.00018707 0.028951" rpy="0.0 0.0 0.0"/>
      <mass value="0.93774"/>
      <inertia ixx="0.0011999" ixy="3.99e-06" ixz="-0.00033612" iyy="0.0018677" iyz="1.34e-06" izz="0.0017762"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/waist_yaw_link.STL"/>
      </geometry>
    </visual>
  </link>
  <joint name="waist_yaw_joint" type="revolute">
    <origin xyz="0.0 3.40601610519e-06 0.12958" rpy="0.0 0.0 0.0"/>
    <parent link="base_link"/>
    <child link="waist_yaw_link"/>
    <axis xyz="-0.0 -0.0 1.0"/>
    <limit lower="-1.5708" upper="1.5708" effort="70.0" velocity="24.48"/>
  </joint>
  <link name="waist_roll_link">
    <inertial>
      <origin xyz="0.0 0.0 -0.00013759" rpy="0.0 0.0 0.0"/>
      <mass value="0.31501408"/>
      <inertia ixx="0.00019826" ixy="0.0" ixz="0.0" iyy="4.083e-05" iyz="0.0" izz="0.00020168"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/waist_roll_link.STL"/>
      </geometry>
    </visual>
  </link>
  <joint name="waist_roll_joint" type="revolute">
    <origin xyz="0.0 0.0 0.0595999999999998" rpy="0.0 0.0 0.0"/>
    <parent link="waist_yaw_link"/>
    <child link="waist_roll_link"/>
    <axis xyz="1.0 0.0 0.0"/>
    <limit lower="-0.5236" upper="0.5236" effort="70.0" velocity="24.48"/>
  </joint>
  <link name="waist_pitch_link">
    <inertial>
      <origin xyz="-0.01541756 -4.37e-06 0.19056282" rpy="0.0 0.0 0.0"/>
      <mass value="11.65536043"/>
      <inertia ixx="0.13631931" ixy="-7.679e-05" ixz="0.01041615" iyy="0.11394267" iyz="7.649e-05" izz="0.07910081"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/waist_pitch_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/waist_pitch_link_collision.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="waist_pitch_joint" type="revolute">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="waist_roll_link"/>
    <child link="waist_pitch_link"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit lower="-0.5236" upper="0.7854" effort="70.0" velocity="24.48"/>
  </joint>

  <!-- head -->
  <link name="head_yaw_link">
    <inertial>
      <origin xyz="-5.822e-05 0.00331589 0.04716509" rpy="0.0 0.0 0.0"/>
      <mass value="0.39074289"/>
      <inertia ixx="0.00020957" ixy="1.38e-06" ixz="4.1e-06" iyy="0.00018734" iyz="-1.63e-06" izz="0.00017487"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/head_yaw_link.STL"/>
      </geometry>
    </visual>
  </link>
  <joint name="head_yaw_joint" type="revolute">
    <origin xyz="-0.0280961087301243 0.0 0.348670496884438" rpy="0.0 0.0 0.0"/>
    <parent link="waist_pitch_link"/>
    <child link="head_yaw_link"/>
    <axis xyz="-0.0 -0.0 1.0"/>
    <limit lower="-0.7854" upper="0.7854" effort="15.8" velocity="17.47"/>
  </joint>
  <link name="head_pitch_link">
    <inertial>
      <origin xyz="0.02597569 -0.0296937 0.08347172" rpy="0.0 0.0 0.0"/>
      <mass value="0.75270394"/>
      <inertia ixx="0.00318957" ixy="4.38e-06" ixz="0.00032073" iyy="0.00329005" iyz="1.141e-05" izz="0.0027032"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/head_pitch_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/head_pitch_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="head_pitch_joint" type="revolute">
    <origin xyz="1.58650833830612e-05 0.0295999999996828 0.0499959437400408" rpy="0.0 0.0 0.0"/>
    <parent link="head_yaw_link"/>
    <child link="head_pitch_link"/>
    <axis xyz="-0.0 1.0 -0.0"/>
    <limit lower="-0.5236" upper="0.5236" effort="15.8" velocity="17.47"/>
  </joint>

  <!-- left arm -->
  <link name="left_shoulder_pitch_link">
    <inertial>
      <origin xyz="-0.001074835 0.035558825 0.00249631" rpy="0.0 0.0 0.0"/>
      <mass value="0.41826782"/>
      <inertia ixx="0.00058057" ixy="2.8135e-05" ixz="-4.21e-06" iyy="0.000707775" iyz="-1.4934999999999998e-05" izz="0.0007612"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/left_shoulder_pitch_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/left_shoulder_pitch_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_pitch_joint" type="revolute">
    <origin xyz="-0.0299999999990098 0.123000000000184 0.276600000000001" rpy="0.0 0.0 0.0"/>
    <parent link="waist_pitch_link"/>
    <child link="left_shoulder_pitch_link"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit lower="-3.0543" upper="1.0472" effort="70.0" velocity="24.48"/>
  </joint>
  <link name="left_shoulder_roll_link">
    <inertial>
      <origin xyz="-0.00017774499999999999 -0.000204635 -0.039822184999999996" rpy="0.0 0.0 0.0"/>
      <mass value="1.980050065"/>
      <inertia ixx="0.004159025" ixy="2.4149999999999997e-06" ixz="7.81e-06" iyy="0.004117775000000001" iyz="-1.5975000000000002e-05" izz="0.0012202749999999998"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/left_shoulder_roll_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/left_shoulder_roll_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_roll_joint" type="revolute">
    <origin xyz="0.0 0.0692000055837298 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="left_shoulder_pitch_link"/>
    <child link="left_shoulder_roll_link"/>
    <axis xyz="1.0 0.0 0.0"/>
    <limit lower="-0.087266" upper="1.9199" effort="70.0" velocity="24.48"/>
  </joint>
  <link name="left_shoulder_yaw_link">
    <inertial>
      <origin xyz="-0.00078608 0.0024226200000000003 -0.0594" rpy="0.0 0.0 0.0"/>
      <mass value="0.487684695"/>
      <inertia ixx="0.00113964" ixy="6.335e-05" ixz="1.684e-05" iyy="0.00052779" iyz="-4.855e-05" izz="0.00123483"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/left_shoulder_yaw_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/left_shoulder_yaw_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_yaw_joint" type="revolute">
    <origin xyz="0.0 0.0 -0.1126" rpy="0.0 0.0 0.0"/>
    <parent link="left_shoulder_roll_link"/>
    <child link="left_shoulder_yaw_link"/>
    <axis xyz="-0.0 -0.0 1.0"/>
    <limit lower="-2.5307" upper="1.5708" effort="70.0" velocity="24.48"/>
  </joint>
  <link name="left_elbow_link">
    <inertial>
      <origin xyz="-0.005490625 0.00046824 -0.051280995" rpy="0.0 0.0 0.0"/>
      <mass value="1.54710466"/>
      <inertia ixx="0.005924270000000001" ixy="-3.36e-06" ixz="-0.000361005" iyy="0.00606145" iyz="-3.693e-05" izz="0.00081196"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/left_elbow_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/left_elbow_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_elbow_joint" type="revolute">
    <origin xyz="0.0130000000000001 5.00000000004108e-05 -0.1183" rpy="0.0 0.0 0.0"/>
    <parent link="left_shoulder_yaw_link"/>
    <child link="left_elbow_link"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit lower="-2.3911" upper="0.5236" effort="30.0" velocity="26.93"/>
  </joint>
  <link name="left_wrist_yaw_link">
    <inertial>
      <origin xyz="0.002049085 -0.001740855 -0.04309845" rpy="0.0 0.0 0.0"/>
      <mass value="0.6406095700000001"/>
      <inertia ixx="0.0027453900000000003" ixy="2.943e-05" ixz="9.189e-05" iyy="0.002842405" iyz="-9.2385e-05" izz="0.00037398499999999996"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.004" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/left_wrist_yaw_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.004" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/left_wrist_yaw_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="left_wrist_yaw_joint" type="revolute">
    <origin xyz="-0.00799999999999785 4.99999999999945e-05 -0.22199999999999" rpy="0.0 0.0 0.0"/>
    <parent link="left_elbow_link"/>
    <child link="left_wrist_yaw_link"/>
    <axis xyz="-0.0 -0.0 1.0"/>
    <limit lower="-1.5708" upper="1.5708" effort="15.8" velocity="17.47"/>
  </joint>

  <!-- Left hand contact -->
  <link name="left_hand_contact">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-07" ixy="0.0" ixz="0.0" iyy="1e-07" iyz="0.0" izz="1e-07"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>
  <joint name="left_hand_contact_joint" type="fixed">
    <origin xyz="0.0 0.0 -0.121" rpy="0.0 0.0 0.0"/>
    <parent link="left_wrist_yaw_link"/>
    <child link="left_hand_contact"/>
  </joint>

  <!-- Left hand For Manipulation -->
  <link name="left_hand_manip">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-07" ixy="0.0" ixz="0.0" iyy="1e-07" iyz="0.0" izz="1e-07"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>
  <joint name="left_hand_manip_joint" type="fixed">
    <origin xyz="0.0 0.0 -0.121" rpy="0.0 1.5708 0.0"/>
    <parent link="left_wrist_yaw_link"/>
    <child link="left_hand_manip"/>
  </joint>

  <!-- right arm -->
  <link name="right_shoulder_pitch_link">
    <inertial>
      <origin xyz="-0.001074835 -0.035558825 0.00249631" rpy="0.0 0.0 0.0"/>
      <mass value="0.41826782"/>
      <inertia ixx="0.00058057" ixy="-2.8135e-05" ixz="-4.21e-06" iyy="0.000707775" iyz="1.4934999999999998e-05" izz="0.0007612"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/right_shoulder_pitch_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/right_shoulder_pitch_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_pitch_joint" type="revolute">
    <origin xyz="-0.0299999999990098 -0.123000000000184 0.276600000000001" rpy="0.0 0.0 0.0"/>
    <parent link="waist_pitch_link"/>
    <child link="right_shoulder_pitch_link"/>
    <axis xyz="-0.0 1.0 -0.0"/>
    <limit lower="-3.0543" upper="1.0472" effort="70.0" velocity="24.48"/>
  </joint>
  <link name="right_shoulder_roll_link">
    <inertial>
      <origin xyz="-0.00017774499999999999 0.000204635 -0.039822184999999996" rpy="0.0 0.0 0.0"/>
      <mass value="1.980050065"/>
      <inertia ixx="0.004159025" ixy="-2.4149999999999997e-06" ixz="7.81e-06" iyy="0.004117775000000001" iyz="1.5975000000000002e-05" izz="0.0012202749999999998"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/right_shoulder_roll_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/right_shoulder_roll_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_roll_joint" type="revolute">
    <origin xyz="0.0 -0.0692000055837298 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="right_shoulder_pitch_link"/>
    <child link="right_shoulder_roll_link"/>
    <axis xyz="1.0 0.0 0.0"/>
    <limit lower="-1.9199" upper="0.087266" effort="70.0" velocity="24.48"/>
  </joint>
  <link name="right_shoulder_yaw_link">
    <inertial>
      <origin xyz="-0.00078608 -0.0024226200000000003 -0.0594" rpy="0.0 0.0 0.0"/>
      <mass value="0.487684695"/>
      <inertia ixx="0.00113964" ixy="-6.335e-05" ixz="1.684e-05" iyy="0.00052779" iyz="4.855e-05" izz="0.00123483"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/right_shoulder_yaw_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/right_shoulder_yaw_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_yaw_joint" type="revolute">
    <origin xyz="0.0 0.0 -0.1126" rpy="0.0 0.0 0.0"/>
    <parent link="right_shoulder_roll_link"/>
    <child link="right_shoulder_yaw_link"/>
    <axis xyz="-0.0 -0.0 1.0"/>
    <limit lower="-1.5708" upper="2.5307" effort="70.0" velocity="24.48"/>
  </joint>
  <link name="right_elbow_link">
    <inertial>
      <origin xyz="-0.005490625 -0.00046824 -0.051280995" rpy="0.0 0.0 0.0"/>
      <mass value="1.54710466"/>
      <inertia ixx="0.005924270000000001" ixy="3.36e-06" ixz="-0.000361005" iyy="0.00606145" iyz="3.693e-05" izz="0.00081196"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/right_elbow_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/right_elbow_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_elbow_joint" type="revolute">
    <origin xyz="0.0130000000000001 -5.00000000004108e-05 -0.1183" rpy="0.0 0.0 0.0"/>
    <parent link="right_shoulder_yaw_link"/>
    <child link="right_elbow_link"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit lower="-2.3911" upper="0.5236" effort="30.0" velocity="26.93"/>
  </joint>
  <link name="right_wrist_yaw_link">
    <inertial>
      <origin xyz="0.002049085 0.001740855 -0.04309845" rpy="0.0 0.0 0.0"/>
      <mass value="0.6406095700000001"/>
      <inertia ixx="0.0027453900000000003" ixy="-2.943e-05" ixz="9.189e-05" iyy="0.002842405" iyz="9.2385e-05" izz="0.00037398499999999996"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.004" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/right_wrist_yaw_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.004" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://HU_L04_description/meshes/HU_L04_01/right_wrist_yaw_link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="right_wrist_yaw_joint" type="revolute">
    <origin xyz="-0.00799999999999785 -4.99999999999945e-05 -0.22199999999999" rpy="0.0 0.0 0.0"/>
    <parent link="right_elbow_link"/>
    <child link="right_wrist_yaw_link"/>
    <axis xyz="-0.0 -0.0 1.0"/>
    <limit lower="-1.5708" upper="1.5708" effort="15.8" velocity="17.47"/>
  </joint>

  <!-- Right hand contact -->
  <link name="right_hand_contact">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-07" ixy="0.0" ixz="0.0" iyy="1e-07" iyz="0.0" izz="1e-07"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>
  <joint name="right_hand_contact_joint" type="fixed">
    <origin xyz="0.0 0.0 -0.121" rpy="0.0 0.0 0.0"/>
    <parent link="right_wrist_yaw_link"/>
    <child link="right_hand_contact"/>
  </joint>

  <!-- Right hand For Manipulation -->
  <link name="right_hand_manip">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-07" ixy="0.0" ixz="0.0" iyy="1e-07" iyz="0.0" izz="1e-07"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>
  <joint name="right_hand_manip_joint" type="fixed">
    <origin xyz="0.0 0.0 -0.121" rpy="0.0 1.5708 0.0"/>
    <parent link="right_wrist_yaw_link"/>
    <child link="right_hand_manip"/>
  </joint>
</robot>
